/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Roboto:wght@300;500&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';
/* Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

main {
  background: url('./assets/stars.webp');
}
/* Handles very large devices for fitting todo items in better forms */
@media screen and (min-width: 1536px) {
  .items-container {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)) !important;
  }
}
@media screen and (min-width: 3200px) {
  .navbar {
    grid-column: span 1 / span 1 !important;
  }
  .display-container {
    grid-column: span 11 / span 11 !important;
  }
}
/* Changes dragon color when project is being hovered */
.project {
  transition: 0.3s;
}
.project:hover > .project-dragon-icon {
  color: currentColor !important;
}
.project:hover > .project-fill {
  transition: 0.3s;
  background-color: currentColor;
}
